.ant-typography.projectsHeaderText {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
}
.newProject {
  margin-bottom: 20px;
}
.ant-dropdown-trigger.ant-table-filter-trigger .anticon.anticon-filter {
  color: white;
}

.ant-dropdown-trigger.ant-table-filter-trigger.active .anticon.anticon-filter {
  color: yellow;
}
