html {
  height: 100%;
}
body {
  background: #fbfbfb;
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.ant-table-thead.ant-table-cell {
  font-weight: bold;
  font-size: 1.3rem;
}
.ant-table.ant-table-bordered > .ant-table-container {
  background: rgb(252, 252, 252);
  box-shadow: 3px 2px 15px 3px #bfbfbf;
}

.ant-table-body
  .ant-table-tbody
  .ant-table-row.ant-table-row-level-1.editable-row {
  background: rgb(245, 245, 245);
}

.ant-table-body
  .ant-table-tbody
  .ant-table-row.ant-table-row-level-2.editable-row {
  background: rgb(238, 238, 238);
}

/* hover */

.ant-table-body
  .ant-table-tbody
  .ant-table-row.editable-row.ant-table-row-level-0
  .ant-table-cell-row-hover {
  background: rgb(233, 242, 253);
}
.ant-table-body
  .ant-table-tbody
  .ant-table-row.editable-row.ant-table-row-level-1
  .ant-table-cell-row-hover {
  background: rgb(233, 242, 253);
}
.ant-table-body
  .ant-table-tbody
  .ant-table-row.editable-row.ant-table-row-level-2
  .ant-table-cell-row-hover {
  background: rgb(233, 242, 253);
}

/* hover */

td.ant-table-cell.ant-table-cell-fix-left.ant-table-cell-fix-left-last {
  box-shadow: 5px 5px 10px 1px #e7e7e7;
}
td.ant-table-cell.ant-table-cell-fix-right.ant-table-cell-fix-right-first {
  box-shadow: -5px 5px 10px 1px #e7e7e7;
}

.container {
  max-width: 80%;
  margin: auto;
}
